.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://global-uploads.webflow.com/5e157547d6f791d34ea4e2bf/5e17558f848f82e664c09d67_logo-dark.svg");
  background-size: cover;
}

* {
  background-color: rgb(255, 255, 255);
}
